<div class="panel panel-default" >
    <div class="panel-heading" role="tab" id="collapseListGroupHeading2">
        <h3 class="panel-title" id="-collapsible-list-group-">
            <a class="" data-toggle="collapse" href="#collapseListGroup2" aria-expanded="true" aria-controls="collapseListGroup2">
                Estudios
            </a>
            <a class="pull-right" data-toggle="collapse" href="#collapseListGroup2" aria-expanded="true" aria-controls="collapseListGroup2"><span data-icon="&#xe6be"></span></a></h3>
    </div>
    <div id="collapseListGroup2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading2" aria-expanded="true">
        <div >
            <div alert class="alert alert-info " msge="result" ng-show="showNoItemsAlert"></div>
            <div alert class="alert alert-{{result.result}} message" msge="result.message" ng-show="ShowResultAlert"></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Estudios<span ><a href="" data-icon="&#xe70a" ng-click="newEducation()" class="btn btn-md btn-success pull-right">Nuevo</a></span> </h4>

                </div>
                <div class="panel-body" >
                    <!--div ng-show="showedExperienceForm"-->
                        <div ng-show="formShown">
                        <form class="form-block"  role="form"  id="educationForm" name="educationForm" ng-submit="updateEducation()"  >
                            <h3>
                                <span class="wizard-title" ng-if="!education.id">Nueva educación</span>
                                <span ng-if="education.id" class="wizard-title">Editando educación</span>
                            </h3>
                            <div alert class="alert alert-danger" msge="result" ng-show="ShowServerErrors"></div>


                            <div class="row">
                                <div class="form-group col-sm-12" >
                                    <label class="control-label" for="title">Cargo / Título (que se obtuvo o por obtener)</label><br>
                                    <input type="text" class="form-control" id="title" name="title" ng-model="education.title" required >
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12" >
                                    <label class="control-label" for="place">Lugar (Institución)</label><br>
                                    <input type="text" id="place" class="form-control" name="place" ng-model="education.place" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12" >
                                    <label class="control-label" for="field">Campo (Área de estudios)</label><br>
                                    <input type="text" id="field" class="form-control" name="field" ng-model="education.field" required>
                                </div>
                            </div>

                            <h4>Fecha inicial</h4>
                            <div class="row">
                                <div class="form-group col-sm-3" >
                                    <label class="control-label" for="initmonth">Mes</label><br>
                                    <select ng-options="month for month in monthoptions"
                                            ng-model="education.initmonth"
                                            id="initmonth" name="initmonth">

                                    </select>
                                </div>
                                <div class="form-group col-sm-3" >
                                    <label class="control-label" for="inityear">Año</label><br>
                                    <input ng-pattern="/^[12][0-9]{3}$/"
                                           validation-msg-pattern="Por favor ingresa un año válido en formato YYYY, ejemplo: 2014"
                                           type="text" id="inityear" class="form-control" name="inityear"
                                           ng-model="education.inityear" required>
                                </div>
                            </div>
                            <h4>Fecha final</h4>
                            <div class="row">
                                <div class="form-group col-sm-3" >
                                    <label class="control-label" for="endmonth">Mes</label><br>
                                    <select ng-options="month for month in monthoptions" ng-model="education.endmonth" id="endmonth" name="endmonth"></select>
                                </div>
                                <div class="form-group col-sm-3" >
                                    <label class="control-label" for="endyear">Año</label><br>
                                    <input type="text" ng-pattern="/^[12][0-9]{3}$/"
                                           validation-msg-pattern="Por favor ingresa un año válido en formato YYYY, ejemplo: 2014"
                                           id="endyear" class="form-control" name="endyear" ng-model="education.endyear" required>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label" for="current">Continúo en este lugar</label><br>
                                    <div >
                                        <input  type="checkbox" id="current" ng-checked="education.currentplace"
                                                ng-model="education.currentplace"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12" >
                                    <label class="control-label" for="detaileducation">Descripción</label><br>
                                    <text-angular  id="detaileducation" name="detaileducation" ng-model="education.detail"></text-angular>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12" >
                                    <label class="control-label" for="activity">Actividades (Participaciones, concursos, cursos, etc.)</label><br>
                                    <text-angular  id="activity" name="activity" ng-model="education.activities"></text-angular>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12" >
                                    <div class="col-sm-4"><button type="submit" class="btn btn-primary"  >Guardar</button></div>
                                    <div class="col-sm-4"><a href="" ng-click="closeForm()" class="pull-right">Cancelar</a></div>
                                </div>
                            </div>

                        </form>

                        <hr>
                    </div>


                    <table class="table table-responsive" data-toggle="table" ng-show = "gridShown" >
                        <thead>
                        <tr>
                            <th data-field="title">Cargo / Título</th>
                            <th data-field="place">Lugar</th>
                            <th data-field="Descripción">Descripción</th>
                            <th data-field="disable">Habilitar / Deshabilitar</th>
                            <th data-field="edit"></th>
                            <th data-field="delete"></th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="education in educations" class="item-list">
                        <tr >
                            <td ng-bind="education.title"></td>
                            <td ng-bind="education.place"></td>
                            <td >
                                <span ng-bind-html="education.detail | limitTo : 50 : 0"></span>
                                <a href="" ng-click="editEducation(education)" ng-if="education.detail.length >= 50">Ver todo...</a>
                            </td>
                            <td>
                                <div  class="checkbox data-grid-checkbox" >
                                    <input type="checkbox" id="status" ng-click="changeStatus($event,education)"
                                           ng-checked="education.statusbool" ng-model="education.statusbool"
                                            />

                                </div>
                            </td>
                            <td><a href="" ng-click="editEducation(education)" data-icon="&#xe606">Editar</a></td>
                            <td><a href="" ng-click = "removeEducation(education)" data-icon="&#xe6ac">Eliminar</a></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <hr>
        </div>


    </div>
</div>