<div class="panel panel-default" >
    <div class="panel-heading" role="tab" id="collapseListGroupHeading5">
        <h3 class="panel-title" id="-collapsible-list-group-">
            <a class="" data-toggle="collapse" href="#collapseListGroup5" aria-expanded="true" aria-controls="collapseListGroup5">
                Intereses Profesionales
            </a>
            <a class="pull-right" data-toggle="collapse" href="#collapseListGroup5" aria-expanded="true" aria-controls="collapseListGroup5"><span data-icon="&#xe6be"></span></a></h3>
    </div>
    <div id="collapseListGroup5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading5" aria-expanded="true">
        <div >
            <div alert class="alert alert-info " msge="result" ng-show="showNoItemsAlert"></div>
            <div alert class="alert alert-{{result.result}} message" msge="result.message" ng-show="ShowResultAlert"></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Intereses Profesionales<span ><a href="" data-icon="&#xe70a" ng-click="newInterest()" class="btn btn-md btn-success pull-right">Nuevo</a></span> </h4>

                </div>
                <div class="panel-body" >
                    <!--div ng-show="showedExperienceForm"-->
                        <div ng-show="formShown">
                        <form class="form-block"  role="form"  id="interestForm" name="interestForm" ng-submit="updateInterest()"  >
                            <h3>
                                <span class="wizard-title" ng-if="!interest.id">Nuevo interés</span>
                                <span ng-if="interest.id" class="wizard-title">Editando interés</span>
                            </h3>
                            <div alert class="alert alert-danger" msge="result" ng-show="ShowServerErrors"></div>


                            <div class="row">
                                <div class="form-group col-sm-12" >
                                    <label class="control-label" for="title">Nombre</label><br>
                                    <input type="text" class="form-control" id="title" name="title" ng-model="interest.title" required >
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12" >
                                    <label class="control-label" for="detailint">Descripción</label><br>
                                    <text-angular  id="detailint" name="detailint" ng-model="interest.detail"></text-angular>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12" >
                                    <div class="col-sm-4"><button type="submit" class="btn btn-primary"  >Guardar</button></div>
                                    <div class="col-sm-4"><a href="" ng-click="closeForm()" class="pull-right">Cancelar</a></div>
                                </div>
                            </div>

                        </form>

                        <hr>
                    </div>


                    <table class="table table-responsive" data-toggle="table" ng-show = "gridShown" >
                        <thead>
                        <tr>
                            <th data-field="title">Nombre</th>
                            <th data-field="Descripción">Descripción</th>
                            <th data-field="disable">Habilitar / Deshabilitar</th>
                            <th data-field="edit"></th>
                            <th data-field="delete"></th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="interest in interests" class="item-list">
                        <tr >
                            <td ng-bind="interest.title"></td>
                            <td >
                                <span ng-bind-html="interest.detail | limitTo : 50 : 0"></span>
                                <a href="" ng-click="editInterest(interest)" ng-if="interest.detail.length >= 50">Ver todo...</a>
                            </td>
                            <td>
                                <div  class="checkbox data-grid-checkbox" >
                                    <input type="checkbox" id="status" ng-click="changeStatus($event,interest)"
                                           ng-checked="interest.statusbool" ng-model="interest.statusbool"
                                            />

                                </div>
                            </td>
                            <td><a href="" ng-click="editInterest(interest)" data-icon="&#xe606">Editar</a></td>
                            <td><a href="" ng-click = "removeInterest(interest)" data-icon="&#xe6ac">Eliminar</a></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <hr>
        </div>


    </div>
</div>