<div class="row" >
    <div class="col-sm-12 col-md-12">
        <div alert class="alert alert-{{result.result}}" msge="result.message" ng-show="ShowResultAlert"></div>
        <form role="form"  id="resumeForm" name="resumeForm" ng-submit="createResume()" class="content-form-edit">
            <div class="row">
                <div class="form-group col-sm-12" ng-class="{'has-error':errorBody}">
                    <label class="control-label" for="resumename">Nombre de la versión</label><br>
                    <div >
                        <input class="form-control" type="text" id="resumename" ng-model="resume.name" required>
                    </div>
                </div>
            </div>

            <!--div class="row">
                <div class="col-sm-4 col-md-4">Biografía
                    <select required id="resume-drop-list"  ng-model="resume.biography_id"
                            ng-options="key as value for (key, value) in bios ">
                        <option value="">-- Selecciona la biografía --</option>
                    </select>

                </div>

            </div-->
            <br>
            <div class="row">
                <div class="form-group col-sm-12" >
                    <div class="col-sm-4"><button type="submit" class="btn btn-primary"  >Guardar</button></div>
                    <div class="col-sm-offset-4 col-sm-4 "><a href="" ng-click = "closeForm()"  >Cancelar</a></div>
                </div>
            </div>
        </form>
    </div>
</div>