<div class="panel " style="margin-top: 50px" id="profile-options">
    <div class="panel-heading dark-overlay " >
        <span class="fa fa-cogs"></span>
        Opciones de configuración
    </div>
    <div class="panel-body">
        <ul class="nav menu">
            <li class="active"><a href="#navigation"><span class="fa fa-file"></span> Contenidos del Sitio</a></li>
            <li class="active"><a href="#categories"><span class="fa fa-tags"></span> Categorías</a></li>
            <li class="active"><a href="#homepage"><span class="fa fa-home"></span> Página de inicio</a></li>
        </ul>
    </div>

</div>