<div class="panel panel-blue" style="margin-top: 50px">
    <div class="panel-heading dark-overlay">
        <span class="glyphicon glyphicon-th"></span>
        Opciones de contenido
        <a href="" class="open-info glyphicon glyphicon-info-sign "  ng-click="showAlert=true"></a>

    </div>
    <div class="panel-body">
        <div alert class="alert alert-info" msge="infoContentSelector" ng-show="showAlert"></div>
        <div alert class="alert alert-{{result.result}}" msge="result.message" ng-show="ShowResultAlert"></div>

        <ul class="todo-list" ng-repeat = "usercontent in usercontenttypes">
            <li class="todo-list-item">
                <div class="checkbox">
                    <input type="checkbox" id="checkbox" ng-click="updateContent($event,usercontent)"
                           ng-checked="usercontent.activebool" ng-model="usercontent.activebool" />
                    <label for="checkbox">{{usercontent.contenttype.type}}</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="panel-footer">
        <div class="input-group">
            <span class="input-group-btn">
			    <button class="btn btn-primary btn-md" id="btn-todo">Ver Sitio Web</button>
		    </span>
        </div>
    </div>
</div>