<div class="panel " style="margin-top: 50px" id="profile-options">
    <div class="panel-heading dark-overlay">
        <span data-icon="&#xe675"></span>
        Opciones de perfil
    </div>
    <div class="panel-body">
        <ul class="nav menu">
            <li class="active"><a href="#logo-content"><span data-icon="&#xe60d"></span> Logotipo</a></li>
            <li><a href="#basic-data-content"><span data-icon="&#xe622"></span> Información básica</a></li>
            <li><a href="#personal-data-content"><span data-icon="&#xe623"></span> Datos personales</a></li>
            <li><a href="#social-data-content"><span data-icon="&#xe672"></span> Redes sociales</a></li>
        </ul>
    </div>

</div>