<div class="basic-wizard">

    <span class="pull-right" close-content remove="closeWizard()" style="font-size: 20px; margin: 15px 15px 0 0"></span>

    <div class="panel panel-wizard">
        <div class="panel-heading">
            <h2>
                <span ng-if="!project.id" class="wizard-title">Nuevo Proyecto </span>
                <span ng-if="project.id" class="wizard-title">Editando: {{project.title}}</span>
            </h2>
        </div>
        <div class="panel-body tabs">

            <ul class="nav nav-pills" id="tabsf">
                <li class="active"><a href="#pilltab1" data-toggle="tab">Información básica</a></li>
                <li>
                    <a href="#pilltab2"  data-toggle="tab" ng-disabled="!project.id"
                       ng-class="{'tabanchor': !project.id}">Galería</a>
                </li>

            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active" id="pilltab1" >
                    <div project ></div>
                </div>
                <div class="tab-pane fade" id="pilltab2">
                    <div  project-gallery ></div>
                </div>
            </div>
        </div>
    </div><!--/.panel-->
</div>